
<%- include("partials/header"); -%>
    
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>
      <div>
        <h1><%=post.title%></h1>
        <p>
          <%=post.content.substring(0, 110) + " ..."%>
          <a href="/posts/<%=post.title%>">Read More</a>
        </p>
      </div>

    <% }) %>


<%- include("partials/footer"); -%>
